PORT=3000
DB_TYPE=mongodb

# MongoDB
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/todo_app?retryWrites=true&w=majority

# Supabase
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your_supabase_key

# Session
SESSION_SECRET=your_secret_session_key